.hvr-float-shadow,
a:hover {
  -webkit-transition-duration: .3s
}

body,
button {
  background-color: #9BC5D5;
  font-family: jaf-domus-titling-web, sans-serif
}

button,
p {
  color: #fff;
  font-size: 1em
}

.fadeoutbt,
.fadeouttp {
  position: relative;
  height: 2em
}

body,
button,
input {
  font-family: jaf-domus-titling-web, sans-serif
}

.centered-btns_nav:focus,
.large-btns_nav:focus,
.transparent-btns_nav:focus,
button:focus {
  outline: 0
}

#jr_inner li a,
.centered-btns_nav,
input,
input:hover {
  text-decoration: none
}

.no-csstransforms3d #disclaimer,
footer,
nav,
section {
  display: block
}

body {
  -webkit-text-size-adjust: none
}

a {
  color: #fff
}

a:hover {
  color: #e2cf33;
  transition-duration: .3s
}

p {
  line-height: 1em;
  margin: 0 0 .5em
}

#options {
  position: relative;
  z-index: 100;
  margin-bottom: 40px
}

button {
  border: 0;
  cursor: pointer;
  display: inline-block;
  text-transform: none;
  transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -webkit-transition: all .3s ease 0s;
  min-width: 5em;
  margin: .5em 0;
  width: 14%
}

button:nth-child(2) {
  width: 22%
}

button:hover {
  letter-spacing: .1em;
  transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -webkit-transition: all .3s ease 0s
}

button:active {
  outline: 0;
  border: none
}

footer {
  border-top: 1px solid #CCC;
  font-size: .8em;
  z-index: 100
}

#footer {
  width: 98.8%;
  position: relative;
  top: 40em;
  opacity: 0;
  margin: 0 auto
}

#disclaimer {
  color: red;
  font-weight: 700;
  display: none
}

hr {
  border: none;
  border-top: 1px solid #CCC
}

figure {
  margin: 0
}

img {
  width: 100%
}

.ikarustitle {
  margin: 1em 0 0;
  font-size: .875em
}

.cdtitle {
  font-size: 1.125em
}

.content {
  width: 90%;
  max-width: 45em;
  margin: 0 auto;
  padding: 1em
}

.tourinfo {
  font-size: .8em;
  margin: 1em 0
}

.mailchimpcontainer label,
input {
  font-size: .75em
}

.fadeoutbt {
  bottom: 2em;
  background: -webkit-linear-gradient(rgba(155, 197, 213, 0) 0, rgba(155, 197, 213, 1.0) 75%);
  background: -moz-linear-gradient(rgba(155, 197, 213, 0) 0, rgba(155, 197, 213, 1.0) 75%);
  background: -o-linear-gradient(rgba(155, 197, 213, 0) 0, rgba(155, 197, 213, 1.0) 75%);
  background: linear-gradient(rgba(155, 197, 213, 0) 0, rgba(155, 197, 213, 1.0) 75%);
  background: -ms-linear-gradient(rgba(155, 197, 213, 0) 0, rgba(155, 197, 213, 1.0) 75%)
}

.fadeouttp {
  top: 1em;
  background: -webkit-linear-gradient(rgba(155, 197, 213, 1.0) 25%, rgba(155, 197, 213, 0) 100%);
  background: -moz-linear-gradient(rgba(155, 197, 213, 1.0) 25%, rgba(155, 197, 213, 0) 100%);
  background: -o-linear-gradient(rgba(155, 197, 213, 1.0) 25%, rgba(155, 197, 213, 0) 100%);
  background: linear-gradient(rgba(155, 197, 213, 1.0) 25%, rgba(155, 197, 213, 0) 100%);
  background: -ms-linear-gradient(rgba(155, 197, 213, 1.0) 25%, rgba(155, 197, 213, 0) 100%)
}

#gigs {
  height: 25em;
  overflow: scroll;
  padding: 1em 0
}

#wrapper {
  position: absolute;
  left: 50%;
  margin-left: -18.75em;
  top: 11em;
  opacity: 0
}

.contentbox {
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden
}

.videocontentbox {
  overflow: auto
}

.caption {
  line-height: 2em
}

.container {
  width: 600px;
  height: 600px;
  position: relative;
  margin: 0 auto 40px;
  border: none;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px
}

#cube,
#livetable {
  width: 100%;
  height: 100%
}

#cube {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 3s;
  -moz-transition: -moz-transform 3s;
  -o-transition: -o-transform 3s;
  transition: transform 3s
}

#cube figure {
  display: block;
  position: absolute;
  width: 596px;
  height: 596px;
  border: 2px solid #9BC5D5;
}

#cube.panels-backface-invisible figure {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden
}

#cube .front {
  background: url(../img/Ikarus-Mosaismic-Cover-Digital-compressor.jpg) center no-repeat;
  -webkit-transform: translateZ(300px);
  -moz-transform: translateZ(300px);
  -o-transform: translateZ(300px);
  transform: translateZ(300px)
}

#cube .bottom,
#cube .left,
#cube .right,
#cube .top {
  background: #9BC5D5
}

#cube .back {
  -webkit-transform: rotateX(-180deg) translateZ(300px);
  -moz-transform: rotateX(-180deg) translateZ(300px);
  -o-transform: rotateX(-180deg) translateZ(300px);
  transform: rotateX(-180deg) translateZ(300px)
}

#cube .right {
  -webkit-transform: rotateY(90deg) translateZ(300px) rotateZ(180deg);
  -moz-transform: rotateY(90deg) translateZ(300px);
  -o-transform: rotateY(90deg) translateZ(300px);
  transform: rotateY(90deg) translateZ(300px)
}

#cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(300px) rotateZ(90deg);
  -moz-transform: rotateY(-90deg) translateZ(300px);
  -o-transform: rotateY(-90deg) translateZ(300px);
  transform: rotateY(-90deg) translateZ(300px)
}

#cube .top {
  -webkit-transform: rotateX(90deg) translateZ(300px);
  -moz-transform: rotateX(90deg) translateZ(300px);
  -o-transform: rotateX(90deg) translateZ(300px);
  transform: rotateX(90deg) translateZ(300px)
}

#cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(300px);
  -moz-transform: rotateX(-90deg) translateZ(300px);
  -o-transform: rotateX(-90deg) translateZ(300px);
  transform: rotateX(-90deg) translateZ(300px)
}

#cube.show-front {
  -webkit-transform: translateZ(-300px);
  -moz-transform: translateZ(-300px);
  -o-transform: translateZ(-300px);
  transform: translateZ(-300px)
}

#cube.show-back {
  -webkit-transform: translateZ(-300px) rotateX(-180deg);
  -moz-transform: translateZ(-300px) rotateX(-180deg);
  -o-transform: translateZ(-300px) rotateX(-180deg);
  transform: translateZ(-300px) rotateX(-180deg)
}

#cube.show-right {
  -webkit-transform: translateZ(-300px) rotateY(-90deg) rotateX(180deg);
  -moz-transform: translateZ(-300px) rotateY(-90deg);
  -o-transform: translateZ(-300px) rotateY(-90deg);
  transform: translateZ(-300px) rotateY(-90deg)
}

#cube.show-left {
  -webkit-transform: translateZ(-300px) rotateY(90deg) rotateX(90deg);
  -moz-transform: translateZ(-300px) rotateY(90deg);
  -o-transform: translateZ(-300px) rotateY(90deg);
  transform: translateZ(-300px) rotateY(90deg)
}

#cube.show-top {
  -webkit-transform: translateZ(-300px) rotateX(-90deg);
  -moz-transform: translateZ(-300px) rotateX(-90deg);
  -o-transform: translateZ(-300px) rotateX(-90deg);
  transform: translateZ(-300px) rotateX(-90deg)
}

#cube.show-bottom {
  -webkit-transform: translateZ(-300px) rotateX(90deg);
  -moz-transform: translateZ(-300px) rotateX(90deg);
  -o-transform: translateZ(-300px) rotateX(90deg);
  transform: translateZ(-300px) rotateX(90deg)
}

#show-buttons {
  margin: 2em auto 5em;
  width: 100%;
  max-width: 40em;
  text-align: center;
  opacity: 0
}

figure.bottom,
figure.left,
figure.right,
figure.top {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden
}

td {
  width: auto;
  letter-spacing: .5em
}

td.date {
  text-align: left
}

td.venue {
  text-align: center
}

td.city {
  text-align: right
}

.tablehead {
  letter-spacing: 1.195em;
  font-weight: 700;
  text-align: center
}

.sociallinks {
  margin: 0 auto;
  min-width: 20em;
  max-width: 27em;
  padding: 1em
}

.slcontainer {
  width: 25%;
  float: left;
  margin: 1em 0;
  text-align: center
}

.slink {
  width: 1.5em;
  height: 1.5em;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

.sltwitter {
  background: url(../img/icons/twitter.png) no-repeat;
  background-size: 100%
}

.slfacebook {
  background: url(../img/icons/facebook.png) no-repeat;
  background-size: 100%
}

.slinstagram {
  background: url(../img/icons/instagram.png) no-repeat;
  background-size: 100%
}

.slsoundcloud {
  background: url(../img/icons/soundcloud.png) no-repeat;
  background-size: 100%
}

.slmail {
  background: url(../img/icons/email.png) no-repeat;
  background-size: 100%
}

.slyoutube {
  background: url(../img/icons/youtube.png) no-repeat;
  background-size: 100%
}

.slspotify {
  background: url(../img/icons/spotify.png) no-repeat;
  background-size: 100%
}

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, .35) 0, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity
}

.hvr-float-shadow:hover,
.hvr-float-shadow:active,
.hvr-float-shadow:focus {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px)
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:active:before,
.hvr-float-shadow:focus:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px)
}

.mailchimpcontainer {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  color: #fff
}

.downloadclick {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  color: #fff
}

#downloadcontainer {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -75px;
  overflow: hidden
}

input {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  color: #FFF;
  background: transparent;
  border: 1px solid #FFFFFF
}

#slideshow {
  display: hidden
}

.gallerynav {
  width: 100%;
  margin: 0 auto
}

.gbutton {
  width: 27%;
  margin: 0
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 62%;
  padding: 0;
  margin: 7.1875em auto
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  border-radius: 4px;
}

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  top: 50%;
  left: 0;
  opacity: 1;
  text-indent: -9999px;
  overflow: hidden;
  height: 61px;
  width: 38px;
  background: url(../img/themes.gif) left top no-repeat;
  margin-top: -45px;
  mix-blend-mode: lighten;
}

.large-btns_nav,
.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  text-indent: -9999px;
  overflow: hidden
}

#jr_close a,
#jr_inner li a:hover {
  text-decoration: underline
}

.centered-btns_nav:active {
  opacity: 1
}

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0
}

.transparent-btns_nav {
  left: 0;
  display: block;
  background: #fff;
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  height: 91%
}

.transparent-btns_nav.next {
  left: auto;
  right: 0
}

.large-btns_nav {
  opacity: .6;
  bottom: 0;
  left: 0;
  background: url(themes.gif) left 50% no-repeat #000;
  width: 38px
}

#infocube,
#jr_inner,
.echotextleft,
.echotextright,
.ytlink,
.ytvideo {
  position: relative
}

.large-btns_nav:active {
  opacity: 1
}

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0
}

.centered-btns_tabs,
.large-btns_tabs,
.transparent-btns_tabs {
  margin-top: 10px;
  text-align: center
}

.centered-btns_tabs li,
.large-btns_tabs li,
.transparent-btns_tabs li {
  display: inline;
  float: none;
  margin-right: 5px
}

.centered-btns_tabs a,
.large-btns_tabs a,
.transparent-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0, 0, 0, .2);
  display: inline-block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);
  width: 9px;
  height: 9px
}

.centered-btns_here a,
.large-btns_here a,
.transparent-btns_here a {
  background: #222;
  background: rgba(0, 0, 0, .8)
}

#infocube {
  margin: 0 auto;
  width: 31em;
  height: 12em;
  top: 1em;
  text-align: justify
}

.infocubetext {
  line-height: 1.5
}

.albumpic {
  width: 17.68em;
  margin: -2.5em 2em 1.5em;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc
}

.soundcloud {
  margin: -1em auto
}

.echotextleft {
  top: 9em;
  left: -11.5em;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg)
}

.echotextright {
  top: 7.5em;
  left: 11.5em;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg)
}

#jr_overlay,
#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0
}

#jr_overlay {
  top: 0;
  left: 0;
  z-index: 2147483646
}

#jr_wrap {
  width: 100%;
  z-index: 2147483647
}

#jr_inner {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  font-size: 12px;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  margin: 0 auto;
  height: auto;
  padding: 20px;
  box-sizing: content-box
}

#jr_header {
  display: block;
  color: #333;
  padding: 5px 5px 0;
  margin: 0 0 .5em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.3em
}

#jr_inner p {
  padding: 5px;
  margin: 0
}

#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style: none
}

#jr_inner ul li {
  cursor: pointer;
  float: left;
  width: 120px;
  height: 122px;
  margin: 0 10px 10px;
  padding: 0;
  text-align: center
}

#jr_inner li a {
  color: #333;
  font-size: .8em;
  padding: 0;
  margin: 0
}

#jr_inner .jr_icon {
  width: 100px;
  height: 100px;
  margin: 1px auto;
  padding: 0;
  background: left top no-repeat;
  cursor: pointer
}

#jr_close {
  clear: both;
  padding: 0;
  margin: 0
}

#jr_close a {
  color: #000;
  display: block;
  width: auto;
  margin: 0;
  padding: 0
}

#jr_close p {
  padding: 10px 0 0;
  margin: 0
}

@media (min-width:0px) and (max-width:568px) {
  #wrapper {
    position: absolute;
    left: 50%;
    margin-left: -17.5em;
    top: 11em;
    opacity: 0
  }

  .container {
    width: 560px;
    height: 560px;
    position: relative;
    margin: 0 auto 40px;
    border: none;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px
  }

  #cube {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 3s;
    -moz-transition: -moz-transform 3s;
    -o-transition: -o-transform 3s;
    transition: transform 3s
  }

  #cube figure {
    display: block;
    position: absolute;
    width: 556px;
    height: 556px;
    border: 2px solid #9BC5D5
  }

  #cube.panels-backface-invisible figure {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden
  }

  #cube .front {
    background: url(../img/Ikarus-Mosaismic-Cover-Digital-compressor.jpg) center no-repeat;
    -webkit-transform: translateZ(280px);
    -moz-transform: translateZ(280px);
    -o-transform: translateZ(280px);
    transform: translateZ(280px)
  }

  #cube .back {
    -webkit-transform: rotateX(-180deg) translateZ(280px);
    -moz-transform: rotateX(-180deg) translateZ(280px);
    -o-transform: rotateX(-180deg) translateZ(280px);
    transform: rotateX(-180deg) translateZ(280px)
  }

  #cube .right {
    -webkit-transform: rotateY(90deg) translateZ(280px) rotateZ(180deg);
    -moz-transform: rotateY(90deg) translateZ(280px);
    -o-transform: rotateY(90deg) translateZ(280px);
    transform: rotateY(90deg) translateZ(280px)
  }

  #cube .left {
    -webkit-transform: rotateY(-90deg) translateZ(280px) rotateZ(90deg);
    -moz-transform: rotateY(-90deg) translateZ(280px);
    -o-transform: rotateY(-90deg) translateZ(280px);
    transform: rotateY(-90deg) translateZ(280px)
  }

  #cube .top {
    -webkit-transform: rotateX(90deg) translateZ(280px);
    -moz-transform: rotateX(90deg) translateZ(280px);
    -o-transform: rotateX(90deg) translateZ(280px);
    transform: rotateX(90deg) translateZ(280px)
  }

  #cube .bottom {
    -webkit-transform: rotateX(-90deg) translateZ(280px) rotateZ(90deg);
    -moz-transform: rotateX(-90deg) translateZ(280px);
    -o-transform: rotateX(-90deg) translateZ(280px);
    transform: rotateX(-90deg) translateZ(280px)
  }

  #cube.show-front {
    -webkit-transform: translateZ(-280px);
    -moz-transform: translateZ(-280px);
    -o-transform: translateZ(-280px);
    transform: translateZ(-280px)
  }

  #cube.show-back {
    -webkit-transform: translateZ(-280px) rotateX(-180deg);
    -moz-transform: translateZ(-280px) rotateX(-180deg);
    -o-transform: translateZ(-280px) rotateX(-180deg);
    transform: translateZ(-280px) rotateX(-180deg)
  }

  #cube.show-right {
    -webkit-transform: translateZ(-280px) rotateY(-90deg) rotateX(180deg);
    -moz-transform: translateZ(-280px) rotateY(-90deg);
    -o-transform: translateZ(-280px) rotateY(-90deg);
    transform: translateZ(-280px) rotateY(-90deg)
  }

  #cube.show-left {
    -webkit-transform: translateZ(-280px) rotateY(90deg) rotateX(90deg);
    -moz-transform: translateZ(-280px) rotateY(90deg);
    -o-transform: translateZ(-280px) rotateY(90deg);
    transform: translateZ(-280px) rotateY(90deg)
  }

  #cube.show-top {
    -webkit-transform: translateZ(-280px) rotateX(-90deg);
    -moz-transform: translateZ(-280px) rotateX(-90deg);
    -o-transform: translateZ(-280px) rotateX(-90deg);
    transform: translateZ(-280px) rotateX(-90deg)
  }

  #cube.show-bottom {
    -webkit-transform: translateZ(-280px) rotateX(90deg) rotateY(90deg);
    -moz-transform: translateZ(-280px) rotateX(90deg);
    -o-transform: translateZ(-280px) rotateX(90deg);
    transform: translateZ(-280px) rotateX(90deg)
  }

  #show-buttons {
    margin: 2em auto 5em;
    width: 100%;
    max-width: 40em;
    text-align: center;
    opacity: 0
  }

  button:nth-child(2) {
    width: 45%
  }

  .centered-btns_nav.next {
    right: 1em
  }

  .centered-btns_nav {
    left: 1em
  }

  #livetable {
    width: 90%
  }
}